<br>
<br>
<br>
<br>
<br>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<body>
<h1>ABOUT US</h1>
<p>Eastern Times Technology Co., Ltd was established in 1996, the top 5 factory for Mouse and keyboard in China. We have a professional R&D teams with 15 good experienced engineers and more than 10 years professional QC team , over 1400 employees in total , offering a one - stop production service to meet your various needs.</p>
<p class="p2">Eastern Times Technology Co., Ltd is the owner of Redragon which is high-value brand for gaming peripheral, dedicated to providing global customers a high-performance gaming products. As the leading company with 20 years manufacturing experienced, Redragon innovated in world first-class industrial design and quality, with strong R&D and global sales team devoting, its aim to bring best service and quality products.Eastern Times Technology Co., Ltd is the owner of Redragon which is high-value brand for gaming peripheral, dedicated to providing global customers a high-performance gaming products. As the leading company with 20 years manufacturing experienced, Redragon innovated in world first-class industrial design and quality, with strong R&D and global sales team devoting, its aim to bring best service and quality products.</p>
<p class="p3">Redragon sales map covers North America, Europe, South of Africa, Asia and Middle East for over 30 countries, Design with the international standard packaging, and the multi-language inquiries for end user, it is your best choice and a reliable friend on your desk. </p>
<p class="p4">Redragon goal is to bring you quality and comfort life.</p>
<img src="/src/assets/image4.jpg" class="center">
</body>
<br><br>
