button{
    color:black;
    font-weight: bolder;
}
button:hover{
    color:black;
}
a{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;

}
.nav-item > .nav-link:hover {
    color:red;
}

.nav-item > .nav-link{
    font-family: 'Raleway', sans-serif;
    transition: 0.2s;
}
#overlay {
    position: fixed;
     width: 100%;
     height: 50px;
     margin: 0;
     top: -20px;
     margin-left: auto;
     margin-right: auto;
}
