<br>
<br>
<br>
<br>
<br>
<body>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<h1>PRODUCTS & SERVICES</h1>
<div class="card" style="width: 27rem;">
    <img class="card-img-top" src="/assets/pic1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Redragon K530 Draconic Compact RGB Wireless Mechanical Keyboard</h5>
      <h4 class="card-text">US$64.99</h4>
      <br>
      <a href="#" class="btn btn-dark">ADD TO CART</a>
      <a href="#" class="btn btn-danger">BUY IT NOW</a>
    </div>
  </div>

  <div class="card" style="width: 27rem;">
    <img class="card-img-top" src="/assets/pic2.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Redragon K557 RGB Backlit Waterproof Mechanical Gaming Keyboard</h5>
        <h4 class="card-text">US$58.99</h4>
        <br>
        <a href="#" class="btn btn-dark">ADD TO CART</a>
        <a href="#" class="btn btn-danger">BUY IT NOW</a>
    </div>
  </div>

  <div class="card" style="width: 27rem;">
    <img class="card-img-top" src="/assets/pic3.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Redragon K561 RGB Mechanical Gaming Keyboard</h5>
        <h4 class="card-text">Price: US$60.99</h4>
        <br>
        <a href="#" class="btn btn-dark">ADD TO CART</a>
        <a href="#" class="btn btn-danger">BUY IT NOW</a>
    </div>
  </div>

  <div class="card" style="width: 27rem;">
    <img class="card-img-top" src="/assets/pic4.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Redragon YAMA K550-1 Mechanical Gaming Keyboard</h5>
        <h4 class="card-text">Price: US$59.99</h4>
        <br>
        <a href="#" class="btn btn-dark">ADD TO CART</a>
        <a href="#" class="btn btn-danger">BUY IT NOW</a>
    </div>
  </div>
  <div class="card" style="width: 27rem;">
    <br>
    <img class="card-img-top" src="/assets/pic5.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Redragon M612 Predator RGB Gaming Mouse</h5>
      <h4 class="card-text">US$17.99</h4>
      <br>
      <a href="#" class="btn btn-dark">ADD TO CART</a>
      <a href="#" class="btn btn-danger">BUY IT NOW</a>
    </div>
  </div>

  <div class="card" style="width: 27rem;">
    <br>
    <img class="card-img-top" src="/assets/pic6.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Redragon M808 Storm Lightweight RGB Gaming Mouse</h5>
        <h4 class="card-text">US$34.99</h4>
        <br>
        <a href="#" class="btn btn-dark">ADD TO CART</a>
        <a href="#" class="btn btn-danger">BUY IT NOW</a>
    </div>
  </div>

  <div class="card" style="width: 27rem;">
    <br>
    <img class="card-img-top" src="/assets/pic7.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Redragon M721-Pro Lonewolf2 Gaming Mouse</h5>
        <h4 class="card-text">US$37.99</h4>
        <br>
        <a href="#" class="btn btn-dark">ADD TO CART</a>
        <a href="#" class="btn btn-danger">BUY IT NOW</a>
    </div>
  </div>

  <div class="card" style="width: 27rem;">
    <br>
    <img class="card-img-top" src="/assets/pic8.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Redragon M652 Optical 2.4G Wireless Mouse</h5>
        <h4 class="card-text">US$14.99</h4>
        <br>
        <a href="#" class="btn btn-dark">ADD TO CART</a>
        <a href="#" class="btn btn-danger">BUY IT NOW</a>
    </div>
  </div>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


